
{# Surround caller with op_opt conditional block #}
{% macro op_opt(i, arg) %}
{% if 'opt' in arg %}
IF opArg{{ i+1 }}%opt == 1 THEN
  {{ caller() }}
END IF
{% else %}
{{ caller() }}
{% endif %}
{% endmacro %}

{# Insert comma when a Jinja loop is not on its last iteration #}
{% macro comma(loop) %}
{% if not loop.last %},{% endif %}
{% endmacro %}

